<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="HackerSprayConfig" type="HackerSpray.WebModule.HackerSprayConfig,   
      HackerSpray.WebModule" />
  </configSections>
  <HackerSprayConfig redis="localhost" prefix="HackerSprayUnitTest:">
    <keys>
      <add name="/Account/LogOn/" post="true" maxAttempts="100" interval="00:10:00" mode="key+origin" />
      <add name="/Home/" post="false" maxAttempts="10000" interval="00:01:00" mode="origin" />
      <add name="/" post="false" maxAttempts="10000" interval="00:01:00" mode="origin" />
    </keys>
  </HackerSprayConfig>
  <system.diagnostics>
    <sources>
      <source name="HackerSpray" switchName="HackerSpray" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\inetpub\logs\LogFiles\HackerSpray4.log" />
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="HackerSpray" value="Verbose"/>
    </switches>
    <trace autoflush="true" indentsize="4" />
  </system.diagnostics>
</configuration>