<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="HackerSprayConfig" type="HackerSpray.WebModule.HackerSprayConfig,   
      HackerSpray.WebModule" />
  </configSections>
  <HackerSprayConfig redis="localhost" prefix="AuthTest:">
    <keys>
      <add name="/Account/LogOn/" post="true" maxAttempts="100" interval="00:10:00" mode="key+origin" />
      <add name="/Home/" post="false" maxAttempts="10000" interval="00:01:00" mode="origin" />
      <add name="/" post="false" maxAttempts="10000" interval="00:01:00" mode="origin" />
    </keys>
  </HackerSprayConfig>
</configuration>