<configuration>
  <system.diagnostics>
    <sources>
      <source name="HackerSpray" switchName="HackerSpray" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="HackreSpray.log" />
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="HackerSpray" value="Verbose"/>
    </switches>
    <trace autoflush="true" indentsize="4" />
  </system.diagnostics>
</configuration>